### VS Code ###
.vscode/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# CDK asset staging directory
cdk.out

# Maven files
target/
.mvn

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

